<form [formGroup]="questionsForm" (ngSubmit)="onSubmit()">
    <p-floatLabel>
      <input id="name" type="text" pInputText formControlName="name" />
      <label for="name">სახელი</label>
    </p-floatLabel>
    <p-floatLabel>
      <input id="lastname" type="text" pInputText formControlName="lastname" />
      <label for="lastname">გვარი</label>
    </p-floatLabel>
  
    <div formArrayName="answers" *ngFor="let question of questions; let i = index">
      <div>{{ question.question }}</div>
      <p-floatLabel>
        <input id="answer-{{ i }}" type="text" pInputText [formControlName]="i" />
        <label for="answer-{{ i }}">პასუხი</label>
      </p-floatLabel>
    </div>
  
    <button type="submit">Submit</button>
  </form>
  
  

  